<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WiccanRede.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WiccanRede.Properties.Settings>
      <setting name="Shadows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Freelook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediumShadowMapDimension" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="WindowBorder" serializeAs="String">
        <value>FixedSingle</value>
      </setting>
      <setting name="FullscreenResolution" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="ForceVSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DrawMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLights" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowResolution" serializeAs="String">
        <value>1024, 768</value>
      </setting>
      <setting name="DetailLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FarDistance" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="EnableMusic" serializeAs="String">
        <value>True</value>
      </setting>
    </WiccanRede.Properties.Settings>
  </userSettings>
</configuration>